<!DOCTYPE html>
<html>
<head>
  <title>RailsPractice</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_pack_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="app"></div>
<%= yield %>

<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
</body>
</html>
